<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<meta charset="ISO-8859-1">
	<title>Subscribe</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	
	<!-- AngularJS library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
		

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/subscribeCtrl.js" type="text/javascript"></script>
	
</head>
<body>
	<div ng-controller='subscribeCtrl'>
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-static-top">
				<p class="navbar-text">New Product Notification App</p>
				<ul class="nav navbar-nav">
					<li> 
						<a href="manage_subscriptions.html">Manage Subscriptions</a>
					</li>
					<li class="active"> 
						<a href="subscribe.html">Subscribe</a>
					</li>
					<li>
						<a href="new_notification.html">New Notification</a>
					</li>													
				</ul>								
			</nav>
			<h1>Sign up to be notified when we have new items in stock!</h1>
			
			<p>you entered: {{firstName}}<br>
			you entered: {{lastName}}<br>
			you entered: {{emailAddress}}<br>
			you entered: {{Computer}}<br>
			you entered: {{Console}}<br>
			you entered: {{Heater}}<br>
			you entered: {{Lawnmower}}<br>
			you entered: {{Tool}}<br>
			you entered: {{Television}}<br></p>
	
			<table>
				<tr>
					<td><label>First Name: <br> <input ng-model="firstName" type="text"
							maxlength="15" /></label></td>
				</tr>
				<tr>
					<td><label>Last Name:<br> <input ng-model="lastName" type="text"
							maxlength="15" /></label></td>
				</tr>
				<tr>
					<td><label>Email Address:<br> <input ng-model="emailAddress" type="email"
							maxlength="30" /></label></td>
				</tr>
				<tr>
					<td>
						<fieldset>
							<legend>I'm interested in...</legend>
							<label><input type="checkbox" ng-model="Computer" />Computers</label><br>
							<label><input type="checkbox" ng-model="Console" />Game Consoles</label><br>
							<label><input type="checkbox" ng-model="Heater" />Heaters</label><br>
							<label><input type="checkbox" ng-model="Lawnmower" />Lawn Care</label><br>
							<label><input type="checkbox" ng-model="Tool" />Tools</label><br>
							<label><input type="checkbox" ng-model="Television" />TVs</label><br>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<button id="subscribe" ng-click="createNewSubscription()">
							<label for="subscribe">Subscribe</label>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>